:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-search-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  -webkit-box-shadow: 0px 3px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 3px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 3px 8px 0px rgba(34, 60, 80, 0.2);

  .mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 60%;
    height: 56px;
    background-color: #424242;
  }

  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 0;
  }

  .mat-paginator {
    display: block;
    width: 40%;
  }
}

.app-gif-grid {
  max-height: calc(100% - 120px - 7em);
  display: grid;
  gap: 3px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 0.5rem;
  margin: auto;
  max-width: 800px;
}

.app-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}

@media (max-width: 780px) {
  .app-gif-grid {
    max-width: 100%;
  }
}

@media (max-width: 560px) {
  .app-search-bar {
    display: flex;
    flex-direction: column;
  
    -webkit-box-shadow: 0px 3px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 3px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 3px 8px 0px rgba(34, 60, 80, 0.2);
  
    .mat-form-field {
      text-align: left;
      width: 100%;
      height: 56px;
    }
  
    .mat-paginator {
      display: block;
      width: 100%;
    }
  }
}